@model IEnumerable<Nhom6_QLHoSoTuyenDung.Models.ViTriTuyenDung>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenViTri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuongCanTuyen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KyNang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhongBan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenViTri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongCanTuyen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KyNang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayTao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhongBan.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaViTri">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaViTri">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaViTri">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
