@model Nhom6_QLHoSoTuyenDung.Models.HoSoLuuTru

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HoSoLuuTru</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LyDoLuuTru)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LyDoLuuTru)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayLuu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayLuu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UngVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UngVien.MaUngVien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViTriTuyenDung)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViTriTuyenDung.MaViTri)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
