@model IEnumerable<Nhom6_QLHoSoTuyenDung.Models.DanhGiaPhongVan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiemDanhGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhanXet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeXuat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LichPhongVan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhanVienDanhGia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiemDanhGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhanXet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeXuat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LichPhongVan.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NhanVienDanhGia.MaNhanVien)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
